// Fonts
@import 'fonts'

// Variables
@import 'variables'

// reset default browsers styles
@import '~normalize.css/normalize'

// Bootstrap
@import '~bootstrap/scss/bootstrap'

// base styles begin
body
    font-family: 'Core-Sans-Regular', sans-serif!important

.site-logo
    max-width: 50px
ul
    padding-left: 0
.nav__list
    margin-bottom: 0
    text-align: right
    display: flex
    justify-content: flex-end

.btn.btn-dark:hover
    color: #fff!important

.project-form
    label
        word-break: break-all
        line-height: 1

.multiple-files
    .custom-file-label
        white-space: nowrap
        overflow: auto
        overflow: hidden
        line-height: 23px
        &::after
            display: none!important

.t-custom
    .t-custom-td
        word-break: break-word

.increment
    .btn-danger
        border-radius: 0 4px 4px 0!important
.btn
    white-space: nowrap
// .form-check-label
//     padding-left: 20px

#navbarSupportedContent
    display: block!important

.table td
    vertical-align: middle

.ws-nowrap
    white-space: nowrap
    margin: 0 10px

.clone.increment-cloned,
.increment
    display: flex

.increment-fields
    flex: 1
// base styles end
