/* @font-face {
  font-family: 'Core Sans 25 Light Italic';
  src: './CoreSansD25Light-Italic.otf'
}
@font-face {
  font-family: 'Core Sans 25 Light';
  src: './CoreSansD25Light.otf'
}
@font-face {
  font-family: 'Core Sans 35 Regular Italic';
  src: './CoreSansD35Regular-Italic.otf'
}
@font-face {
  font-family: 'Core Sans 35 Regular';
  src: './CoreSansD35Regular.otf'
}
@font-face {
  font-family: 'Core Sans 45 Medium Italic';
  src: './CoreSansD45Medium-Italic.otf'
}
@font-face {
  font-family: 'Core Sans 45 Medium';
  src: './CoreSansD45Medium.otf'
}
@font-face {
  font-family: 'Core Sans 47 Cn Medium Italic';
  src: './CoreSansD47CnMedium-Italic.otf'
}
@font-face {
  font-family: 'Core Sans 47 Cn Medium';
  src: './CoreSansD47CnMedium.otf'
}
@font-face {
  font-family: 'Core Sans 55 Bold Italic';
  src: './CoreSansD55Bold-Italic.otf'
}
@font-face {
  font-family: 'Core Sans 55 Bold';
  src: './CoreSansD55Bold.otf'
}
@font-face {
  font-family: 'Core Sans 57 Cn Bold Italic';
  src: './CoreSansD57CnBold-Italic.otf'
}
@font-face {
  font-family: 'Core Sans 57 Cn Bold';
  src: './CoreSansD57CnBold.otf'
}
@font-face {
  font-family: 'Core Sans 65 Heavy Italic';
  src: './CoreSansD65Heavy-Italic.otf'
}
@font-face {
  font-family: 'Core Sans 65 Heavy';
  src: './CoreSansD65Heavy.otf'
}
@font-face {
  font-family: 'Core Sans 67 Cn Heavy Italic';
  src: './CoreSansD67CnHeavy-Italic.otf'
}
@font-face {
  font-family: 'Core Sans 67 Cn Heavy';
  src: './CoreSansD67CnHeavy.otf'
} */
